$primary-color: #f5f5f5;
$secondary-color: #242426;
$link-color: #81a4cd;
$demo-color: #3e7cb1;
$source-color: #054a91;
$secondary-color2: #111;
$gray-color: #4f4f4f;

/* Breakdowns */
$first-breakdown: 26rem;
$second-breakdown: 44rem;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $primary-color;
  color: $secondary-color;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;

  @media all and (min-width: $second-breakdown) {
    font-size: 18px;
  }
}

h1 {
  font-size: 2rem;
  padding: .5rem 0;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  margin-top: 1.2rem;
}

p {
  font-weight: normal;
}

a, a:visited {
  color: $secondary-color;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

section.portfolio {
  #portfolio-title {
    margin: 0 .5rem;
  }

  .all-items {
    display: grid;
    grid-column-gap: 5%;
    grid-row-gap: .5rem;

    .display-title {
      display: grid;
      grid-template-columns: auto 1fr;

      .tech {
        padding-left: 1rem;

        svg {
          font-size: 1.3rem;
        }
      }
    }

    .display-body {
      p {
        margin: .5rem 0;
        line-height: 1.4rem;
      }

      a {
        margin-right: .7rem;
      }
    }

    @media all and (min-width: $second-breakdown) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.blog-contact {
  background-color: $secondary-color;
  color: $primary-color;

  section.skills-section {
    a, a:hover, a:visited {
      text-decoration: underline;
      color: $link-color;
    }

    h1 {
      margin-bottom: 1rem;
    }

    .skills-section__main {
      padding: .5rem;

      .skills-section-list {
        grid-area: skills;

        .skills-section-list__title {
          padding: 1rem 0;

          @media all and (min-width: $first-breakdown) {
            margin: 1rem 0;
            padding-top: 2rem;
          }
        }

        .skills-section-list__body {
          margin: 1rem 0;
          padding-bottom: 5rem;
        }

        p {
          margin: 1rem 0;
        }
      }
    }

    @media all and (min-width: $first-breakdown) {
      padding: 1rem 7%;
    }
  }
}

span.technology {
  border-radius: .7rem;
  color: $primary-color;
  font-size: .8rem;
  padding: .1rem .4rem;
  font-weight: bold;
}

div.divisor {
  display: grid;
  margin: 1rem auto 1.5rem auto;
}

div.display {
  margin: 1rem 0;
  padding: .5rem;

  h3 {
    margin: 0;
  }
}

.centered-block {
  align-content: center;
  display: grid;
  max-width: 70%;
  margin: 0 auto;
}

.name-h1-block {
  font-size: 3rem;

  @media all and (min-width: $second-breakdown) {
    font-size: 4.3rem;
  }
}

.main-content {
  margin: 1% 0;
  @media all and (min-width: $first-breakdown) {
    margin: 5rem 7%;
  }
}

