<!DOCTYPE html>
<html lang="en">
{{ partial "header.html" . }}
<body>

<main class="main-content">
    {{ partial "portfolio.html" . }}
</main>

<div class="blog-contact">
    {{ partial "skills.html" . }}
</div>

{{ partial "js.html" . }}
</body>


</html>
