<div class="portfolio-item">
    <div class="display">

        <div class="display-title">
            <h3>{{ .title }}</h3>
            <div class="tech">
                {{ range .technologies }}
                <i class="fab {{ . }}"></i>
                {{ end }}
            </div>
        </div>

        <div class="display-body">
            <p>{{ .overview }}</p>

            {{ if .live_demo }}
            <a class="btn btn-demo" target="_blank" href="{{ .live_demo }}">live demo ⧉</a>
            {{ end }}
            {{ if .source_code }}
            <a class="btn btn-source" target="_blank" href="{{ .source_code }}">source code ⧉</a>
            {{ end }}
        </div>
    </div>
</div>
