<section class="portfolio">
    <div class="portfolio-title">
        <h1 id="portfolio-title">Projects</h1>
        <h3 class="portfolio-title "></h3>
    </div>

    <div class="all-items">
        {{ range $.Site.Data.portfolio_items }}
        {{ partial "portfolio-item.html" . }}
        {{ end }}
    </div>
</section>