<section class="skills-section">
    <div class="skills-section__main">
        <div class="skills-section-list">
            <h1 class="skills-section-list__title">Blog & Contact</h1>
            <div class="skills-section-list__body">
                <p> Check out my blogs, <a href="https://ruizandr.es/blog/" target="_blank">Talking Machines ⧉</a>
                    and <a href="https://asdfcoding.wordpress.com" target="_blank">Asdfcoding ⧉</a>.
                </p>
                <p>
                    <a href="mailto:andresfruiz@protonmail.com">Drop me a line</a>
                </p>
            </div>
        </div>
    </div>
</section>